<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    
    <!-- Documentation https://maven.apache.org/settings.html -->
    
    <profiles>
        <!-- The profile elements only include these four elements because they concerns themselves with 
        the build system as a whole -->
        <profile>
            <id>aws-java-domain-mvn</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <!-- where to deploy project artifact -->
            <properties>
                <altDeploymentRepository>aws-java-domain-mvn::default::${env.CODEARTIFACT_REPOSITORY_URL}</altDeploymentRepository>
            </properties>
            <!--
            If you add a mirrors element, you must also have a pluginRepository element in your settings.xml or pom.xml. 
            The following example fetches application dependencies and Maven plugins 
            from a CodeArtifact repository.
            -->
            <pluginRepositories>
                <pluginRepository>
                <id>aws-java-domain-mvn</id>
                <name>CodeArtifact Plugins</name>
                <url>${env.CODEARTIFACT_REPOSITORY_URL}</url>
                <releases>
                    <enabled>true</enabled>
                </releases>
                <snapshots>
                    <enabled>true</enabled>
                </snapshots>
                </pluginRepository>
            </pluginRepositories>
            <!--
            Repositories are remote collections of projects from which Maven uses to populate the local repository of 
            the build system. It is from this local repository that Maven calls it plugins and dependencies. 
            Different remote repositories may contain different projects, and under the active profile they may be 
            searched for a matching release or snapshot artifact.
            -->
            <repositories>
                <repository>
                    <id>aws-java-domain-mvn</id>
                    <url>${env.CODEARTIFACT_REPOSITORY_URL}</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <!--
    The repositories for download and deployment are defined by the repositories and distributionManagement elements of the POM. 
    However, certain settings such as username and password should not be distributed along with the pom.xml. 
    This type of information should exist on the build server in the settings.xml.
    -->
    <servers>
        <server>
            <!--id: This is the ID of the server (not of the user to login as) that matches the id element of the 
            repository/mirror that Maven tries to connect to.-->
            <id>aws-java-domain-mvn</id>
            <username>aws</username>
            <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
        </server>
    </servers>

    <!-- 
    If a package cannot be fetched from a configured repository, by default, the mvn command fetches it from Maven Central. 
    Add the mirrors element to settings.xml to make mvn always use your CodeArtifact repository.
    -->
    <mirrors>
      <mirror>
        <!-- id, name: The unique identifier and user-friendly name of this mirror. The id is used to differentiate 
        between mirror elements and to pick the corresponding credentials from the <servers> section when connecting to 
        the mirror.-->
        <id>aws-java-domain-mvn</id>
        <name>CodeArtifact Maven Central mirror</name>
        <url>${env.CODEARTIFACT_REPOSITORY_URL}</url>
        <mirrorOf>central</mirrorOf>
      </mirror>
    </mirrors>

</settings>