<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta http-equiv="refresh" content="3">

    <title>Blue Green App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.0/js/bootstrap.min.js}"></script>

    <!-- jquery -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>

    <!-- jquery datatable-->
    <link rel="stylesheet" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}"/>
    <script th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>

</head>

<body>

<div class="container-fluid p-5 text-center">
    <h4>EC2 ASG behind ALB</h4>
    <h6>deployed with CodeDeploy</h6>
</div>

<div class="container ml-1">
    <!-- From instance-->
    <div class="mt-2">
        <h5>From Instance</h5>
        <span>
            <b>InstanceId=</b>
            [[${codeDeployControlDto.instanceInfo.getInstanceId}]]
            ([[${codeDeployControlDto.instanceInfo.getAvailabilityZone}]])
        </span>
    </div>

    <!-- Deployed instance-->
    <div class="mt-5">
        <h5>Instances</h5>
        <table id=" sample" class="table table-bordered table-hover table-striped">
            <thead>
            <tr class="headings">
                <th th:each="header: ${codeDeployControlDto.controlTable.headers}" class="column-title"
                    th:text="${header}" th:style="|background: ${color}|"/>
            </tr>
            </thead>
            <tbody>
            <tr class="even pointer" th:each="row: ${codeDeployControlDto.controlTable.rows}" id="tablerow">
                <td th:each="header: ${codeDeployControlDto.controlTable.headers}" th:text="${row.get(header)}"/>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Deployment info-->
    <div class="mt-4">
        <h5>Policy</h5>
        <span>
            <b>Config name</b> =
                [[${codeDeployControlDto.deploymentConfigName}]],
            <b>Type</b> =
                [[${codeDeployControlDto.deploymentType}]],
            <b>Option</b> =
                [[${codeDeployControlDto.deploymentOption}]]
        </span>
        <a href="https://docs.aws.amazon.com/codedeploy/latest/userguide/deployment-configurations.html">
            Documentation
        </a>
    </div>

</div>
</body>
</html>
