<!DOCTYPE HTML>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org"
      data-bs-theme="dark">
<head>
    <title>Blue Green App</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body th:bgcolor="${color}">
<p th:text="'Hello, ' + ${color} + ' !'"/>
<br/>
<p th:text="'Commit id : ' + ${commitId}"/>
<p th:text="'Commit time : ' + ${commitTime}"/>
<br/>
<div class="container">
    <div>
        <div sec:authorize="isAuthenticated()">
            <p>Hello, </p>
            <p>
                <strong th:text="${#authentication.name}"></strong>
            </p>
            <p>Your authorities are: </p>
            <p><strong th:each="authority : ${#authentication.authorities}"><span
                    th:text="${authority.authority} + ' '"></span></strong></p>
        </div>
    </div>
</div>
</body>
</html>